node_modules
.next
# npm-debug.log*, yarn-debug.log*, yarn-error.log* are good candidates for .gitignore
# .DS_Store is macOS specific
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker specific
Dockerfile
.dockerignore
nginx.conf

# Git specific
.git
.gitignore

# Environment files that might contain secrets (should be passed at runtime)
.env
.env*.local
*.env
